@font-face {
  font-family: "碳纤维正粗黑简体字体";
  src: url("./碳纤维正粗黑简体字体.ttf");
}
@font-face {
  font-family: "腾祥金砖黑简";
  src: url("./腾祥金砖黑简.ttf");
}
@font-face {
  font-family: "仓耳青禾体";
  src: url("./仓耳青禾体.ttf");
}
@font-face {
  font-family: "杨任东竹石体";
  src: url("./杨任东竹石体.ttf");
}
@font-face {
  font-family: "汉仪瑞意宋";
  src: url("./汉仪瑞意宋.ttf");
}